{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Твой профиль, {{ name }}!
</h1>
     <section class="info-tiles">
            <div class="tile is-ancestor has-text-centered">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title has-text-dark">{{ len_tasks }}</p>
                        <p class="subtitle has-text-dark">решено задач</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title has-text-dark">0</p>
                        <p class="subtitle has-text-dark">Кол-во монет</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title has-text-dark">Пока не знаю(</p>
                        <p class="subtitle has-text-dark">Рейтинг</p>
                    </article>
                </div>
            </div>
     </section>

    <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
                <table class="table is-bordered is-fullwidth has-text-centered">
                    <thead>
                        <tr>
                          <th><abbr>Урок</abbr></th>
                          <th><abbr>Задача</abbr></th>
                          <th><abbr>Выполнено</abbr></th>
                          <th><abbr>На проверке</abbr></th>
                        </tr>
                    </thead>
                    <tbody>
                     {% for task in tasks %}
                         <tr>
                          <th><a href="{{ url_for('admin.info_task_user', lesson=task.lesson, task=task.task, user_id=user.id) }}">{{ task.lesson }}</a></th>
                          <th>{{ task.task }}</th>
                          <th>{{ task.completed }}</th>
                          <th>{{ task.is_check }}</th>
                        </tr>
                     {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
     </section>
{% endblock %}