{% extends "base.html" %}

{% block content %}
    <h1 class="title">
      Admin
    </h1>

    <section class="info-tiles">
            <div class="tile is-ancestor has-text-centered">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title has-text-dark">{{ len_users }}</p>
                        <p class="subtitle has-text-dark">Всего пользователей</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title has-text-dark">{{ len_tasks }}</p>
                        <p class="subtitle has-text-dark">Отправлено решений</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title has-text-dark">Пока не знаю(</p>
                        <p class="subtitle has-text-dark">Рейтинг</p>
                    </article>
                </div>
            </div>
     </section>
    <br>
    <br>
    <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
                <table class="table is-bordered is-fullwidth has-text-centered">
                    <thead>
                        <tr>
                          <th><abbr>id</abbr></th>
                          <th><abbr>Имя ользователь</abbr></th>
                          <th><abbr>Почта</abbr></th>
                          <th><abbr>SibCoin</abbr></th>
                          <th><abbr>Задач отп.</abbr></th>
                        </tr>
                    </thead>
                    <tbody>
                     {% for user in users %}
                         <tr>
                          <th>{{ user.id }}</th>
                          <th>{{ user.name }}</th>
                          <th>{{ user.email }}</th>
                          <th>{{ user.money }}</th>
                          <th>{{ count_task_user[user.id] }}</th>
                        </tr>
                     {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
     </section>

{% endblock %}