<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SibHub</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
</head>

<body>
    <section class="hero is-link is-fullheight">

        <div class="hero-head">
            <nav class="navbar ">
              <p class="navbar-item">

              </p>
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-start">
                            <a href="{{ url_for('main.index') }}" >
                                <img src="/static/sh_logo.png"
                                      alt="SibHub logo"
                                      width="80" height="80">
                            </a>
                        </div>
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Главная
                            </a>
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.lessons') }}" class="navbar-item">
                                Задачи
                            </a>
                            <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                Профиль
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                Войти
                            </a>
                            <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                Регестрация
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item has-text-danger-dark">
                                <span class="has-text-white-bis	">Выйти</span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>