{% extends "base.html" %}

{% block content %}
<h1 class="title is-1">
  Задача {{ num }}, "{{ tasks.name }}"
</h1>
<h3 class="title is-3">
  {{ answer }}
</h3>

<br>
<br>

 <div class="box">


     <div class="content is-medium">
         <br>
         <h4>Условия</h4>
         {% for text in tasks.description %}
            <p>{{ text|safe }}</p><br>
         {% endfor %}
     </div>
</div>
 <div class="box">
  <div class="content is-medium">
    <h4>Тестовые данные:</h4>
  </div>
     <table class="table is-bordered is-fullwidth">
         <thead>
            <tr>
              <th><abbr>Номер теста</abbr></th>
              <th><abbr>Входные данные</abbr></th>
              <th><abbr>Выходные данные</abbr></th>
            </tr>
          </thead>
         <tbody>
             {% for dat in tasks.data %}
                <tr>
                  <th>{{ dat.num }}</th>
                  <td>{{ dat.data_in|safe }}</td>
                  <td>{{ dat.data_out|safe }}</td>
                </tr>
             {% endfor %}
         </tbody>
    </table>
 <div class="field">
  <div class="control">

      <form action="{{ url_for('main.submit', num_lesson=lesson, num_task=num-1) }}" method="post">
        <textarea name="form-text" id="text" class="textarea is-medium" placeholder="Вставь своё решение" required>{{ text }}</textarea><br>
        <button class="button is-medium is-success is-light ml-10" type="submit">Отправить решение</button>
      </form>
  </div>
</div>
</div>

 <button class="button is-normal is-light is-pulled-left"><a href="{{ url_for('main.lesson', num_lesson=lesson) }}">Вернуться к задачам</a></button>
    {% if isLast %}
    <span class="is-pulled-right">
{#        <button class="button is-normal is-light "><a href="{{ url_for('main.lesson', num_lesson=lesson) }}">Предыдущая задача</a></button>#}
        <button class="button is-normal is-light"><a href="{{ url_for('main.task_num', lesson=lesson, task=num) }}">Следующая задача</a></button>
    </span>
    {% endif %}
{# <button class="button is-normal is-light is-pulled-right"><a href="{{ url_for('main.lesson', num_lesson=lesson) }}">Ошибка в задание</a></button>#}

{% endblock %}