{% extends "base.html" %}

{% block content %}
<h1 class="title is-1">
  Задача {{ num }}, "{{ tasks.name }}"
</h1>
<h3 class="title is-3">
  {{ answer }}
</h3>

<br>
<br>

 <div class="box">
     <div class="content is-medium">
         <br>
         <h4>Условия</h4>
         {% for text in tasks.description %}
            <p>{{ text }}</p><br>
         {% endfor %}
     </div>
</div>
 <div class="box">
  <div class="content is-medium">
    <h4>Тестовые данные:</h4>
  </div>
     <table class="table is-bordered is-fullwidth">
         <thead>
            <tr>
              <th><abbr>Номер теста</abbr></th>
              <th><abbr>Входные данные</abbr></th>
              <th><abbr>Выходные данные</abbr></th>
            </tr>
          </thead>
         <tbody>
             {% for dat in tasks.data %}
                <tr>
                  <th>{{ dat.num }}</th>
                  <td>{{ dat.data_in }}</td>
                  <td>{{ dat.data_out }}</td>
                </tr>
             {% endfor %}
         </tbody>
    </table>
 <div class="field">
  <div class="control">
      <form action="/submit/{{ lesson }}_{{ num - 1 }}" method="post" enc>
        <textarea name="form-text" id="text" class="textarea is-medium" placeholder="Вставь своё решение" required>{{ text }}</textarea>
          <br>
          <button class="button is-normal-left is-light"><a href="/lessons/{{ lesson }}">Вернуться</a></button>
          <button class="button is-normal is-success is-light" type="submit">Отправить решение</button>
      </form>

  </div>
</div>
</div>




{% endblock %}