{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Ты всё можешь, {{ name }}!
                            </h1>
                            <h2 class="subtitle">
                                Покажи себя ;)
                            </h2>
                        </div>
                    </div>
                </section>

                <div class="columns">
                    <div class="column is-12">
                        <div class="card events-card">


{#                                    <p>{{lesson.author.nickname}} says: <b>{{post.body}}</b></p>#}
                            <header class="card-header">
                                <p class="card-header-title">
                                    Занятие {{ lesson }}
                                </p>
                                <p class="card-header-icon">
                                  <span class="icon">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                  </span>
                            </p>
                            </header>


                            <div class="card-table">

                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <thead>
                                            <tr>
                                              <th><abbr>№</abbr></th>
                                              <th><abbr>SibCoin</abbr></th>
                                              <th><abbr>Задача</abbr></th>
                                              <th class="level-right "><abbr>Кнопка!</abbr></th>
                                            </tr>
                                          </thead>
                                        <tbody>

                                            {% for num in range(count) %}
                                            <tr>
                                                <td >{{ num + 1 }}</td>
                                                <td >0/{{ lessons[num].score }} S</td>
                                                <td>{{ lessons[num].name }}</td>
                                                <td class="level-right">
                                                    <a class="button {% if did_tasks.get(num).completed == null and not did_tasks.get(num).is_check %} is-gray
                                                                     {% elif did_tasks.get(num).is_check %}is-warning
                                                                     {% elif did_tasks.get(num).completed %}is-success
                                                                     {% elif not did_tasks.get(num).completed and not did_tasks.get(num).is_check %} is-danger
                                                                     {% endif %}"
                                                       href="/task/{{ lesson }}_{{ num }}">Решить</a>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script async type="text/javascript" src="../js/bulma.js"></script>
{% endblock %}